.aboutMe {
    background-color: var(--back_ground-aboutMe);
    padding: 5rem;
    margin: 2rem 0;
    color: var(--white);
    border-radius: var(--border_radius-components);
    border: 2px solid var( --border_color);
}

.aboutMe_title {
    text-align: center;
    margin: 1rem 0 1.5rem 0;
    font-size: 3.5rem;
    line-height: 3rem;
}

.aboutMe_paragraph {
    line-height: 1.5;
    font-size: 1.2rem;
}

.title {
    text-align: center;
margin: 1.7rem 0 1rem 0;
font-size: 2rem;
}

.container{
display: grid;
justify-content: center;
gap: 1rem;
}
.content{
    display: flex;
}

.aboutMe_icon{
margin-right: 1.3rem;
font-size: 1.5rem;
color: var(--icon_color);
}

.info{
font-size: 1.2rem;
}

.info_instition{

}

.info_program{

}

@media (min-width:700px) {
    .aboutMe_info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;

    }
    
    .aboutMe-info-content{
    
    }
}


