#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.portfolio_btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.portfolio_btn {
    color: var(--white);
    background-color: var(--black);
    transition: background-color 0.5s ease;
    width: 200px;
    font-size: 1.7rem;
    border: solid 2px var(--white);
    border-radius: var(--border_radius-components);
   
  }
  
  .btn_active {
    background-color: var(--icon_color);
  }

  .portfolio_btn:hover{
    transform:scale(1.05) ;
  }