#skills {
  width: 100%;
    /* background-image: url("/public/BackgroundApp/Background.gif"); */
    padding: 4rem;
    margin-bottom: 5rem;
    /* border-radius: var(--border_radius-components);
    border: 2px solid var(--white); */
    
}

.skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    position: relative;
    right: -500%;
    opacity: 0;
    transform: scale(0.8);
}

.slideInRigth {
    animation: slide-in-rigth-zoom 1s ease-in-out forwards;
}

@keyframes slide-in-rigth-zoom {
    0% {
      right: -200%;
      opacity: 0;
      transform:  scale(0.8);
    }
    50% {
      opacity: 1;
      right: 0;
      transform:  scale(0.8);
    }
    100% {
      opacity: 1;
      right: 0;
      transform:  scale(1);
    }
  }

.img_container {
    width: 100%;
    max-width: 50px;
    display: grid;
    justify-content: center;
 text-align: center;

}

.img {
    width: 50px;
    aspect-ratio: 1;
    margin-bottom: 1rem;
    place-self: center;
    animation: rotation 4s linear infinite;
}


@keyframes rotation {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(90deg);

    }

    100% {
        transform: rotateY(0deg);
    }

}

.img_info{
    color: var(--white);
    place-self: center;
    font-size: 1.5rem;
}

@media (min-width: 700px) {
  
  .img_container{
max-width: 110px;
  }

.img{
width: 110px;
}


}