.app_components {
	padding: 0 2rem 2rem 2rem;
	background: url("/BackgroundApp/Background.gif");
	position: relative;
	overflow: hidden;
}

.icons_container{
	width: 40px;
	background-color: var(--black);
	display: grid;
	gap: 0.2rem;
	justify-content: center;
	border-radius: 1rem;
   border: 2px solid var( --border_color);
	position: fixed;
	bottom: 20px;
	right: 12px;	
	color: var(--white);
	padding-top: 1.5rem;
}

.btn_exit{
	width: 21px;
	height: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
		background-color: var(--black);
	border: 2px solid var( --border_color);
	border-radius: 50%;
position: absolute;
top: -10px;
left: 7px;
cursor: pointer;
}

.x{
	font-weight: bold;
	font-size: 0.8rem;
color: var(--white);
}

.x:hover{
	color: var(--icon_color);
}

.btn_whatsapp, .btn_linkedin, .btn_github{
width: 100%;
color: var(--white);
}


.bxl-whatsapp, .bxl-linkedin, .bxl-github {
	font-size: 30px;
}

.menssage_icon {
	width: 40px;
	aspect-ratio: 1;
	position: fixed;
	bottom: 20px ;
	right: 10px ;
	}

.menssage_icon::before {
	content: "";	
font-size: 2rem;
	color: var(--black);	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%) ;
	opacity: 1;
	animation: copying 2s infinite;
}

.bxs-message-rounded{
	z-index: -1;
	color: var(--white);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
	font-size: 3rem;
	font-weight: lighter;
}

.bxs-message-rounded:hover{
	filter: blur(1px);
}

@keyframes copying {
	0% {
		content: ".";
	
	}

	25% {
		content: ".";
	
	}

	50% {
		content: "..";
	
	}

	75% {
		content: "...";
	opacity: 1;
	

	}

	100% {
		content: "...";
		opacity: 0;
		
	
	}
}