@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root{
  --black: black;
  --height_Header: 70px;
  --white: white;
  --back_ground-home: #0D2C33;
  --icon_color:  rgb(6, 125, 161);
  --border_radius-components: 1rem;
}

.ligth{
  --black: white;
}

*{
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.274);
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, button, input, select, textarea {
    margin: 0;
    padding: 0;
  }

  html{
    font-family: 'Barlow', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 2rem;
  }

 ul{
    list-style: none;
    padding-left: 0;
  }

  button{
    cursor: pointer;
    font-family: inherit;
  }
  
  i{
    cursor: pointer;
  }
  
  input, textarea{
    outline: none;
    font-family: inherit;
  }
  
  select {
    font-family: inherit;
  }

  a{
    text-decoration: none;
    cursor: pointer;
  }